.App {
  text-align: center;
}

/* home tab */

.home {
  font-family: 'Calibri';
  font-size: 28px;
  color: #646464;
  padding: 40px;
}

/* list tabs */

.control-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* calendar tab */

.big-calendar {
  height: 600px;
}

.rbc-event-label {
  font-size: 12px;
}

.rbc-event-content {
  font-size: 12px;
}

/*diagrams tab*/

.diagrams {
  text-align: left;
  display: flex;
  margin: 20px;
}

.diagram-h {
  text-align: center
}
